extends layout

block content
  div(id="member-container")
    table(id="member-table")
      thead
        tr
          th Name
          th XP
          th Tag
          th War Stars
          th Role
          th Clan
          th Clan Lvl
      tbody
          tr
            td #{memberData.name}
            td #{memberData.expLevel}
            td #{memberData.tag}
            td #{memberData.warStars}
            td #{memberData.role}
            td #{memberData.clan.name}
            td #{memberData.clan.clanLevel}