extends layout

block content
  div(id="member-container")
    table(id="member-table")
      thead
        tr
          th League
          th Name
          th XP
          th Tag
          th War Stars
          th Role
          th Clan
          th Clan Lvl
      tbody
          tr
            td
              a(href="./leagues")
                img(src="#{memberData.league.iconUrls.small}" class="league-badge" alt="League badge")
            td #{memberData.name}
            td #{memberData.expLevel}
            td #{memberData.tag}
            td #{memberData.warStars}
            td #{memberData.role}
            td
              a(href="./members?clantag=#{memberData.clan.tag.replace('#', '%23')}" class="member-clan-badge")
                img(src="#{memberData.clan.badgeUrls.small}") 
                p #{memberData.clan.name} 
            td #{memberData.clan.clanLevel}