extends layout

block content
  h1= title
  p Member: 
    b "#{memberData.name}"
  p name: #{memberData.name}
  p expLevel: #{memberData.expLevel}
  p tag: #{memberData.tag}
  p warStars: #{memberData.warStars}
  p role: #{memberData.role}
  p clan name: #{memberData.clan.name}
  p clan level: #{memberData.clan.clanLevel}
