extends layout

block content
  div(id="top-players-container")
    if(membersDataLen == 0)
      p(class="error") No players found
    else
      div(class="inner-container")
        table(id="top-players-table")
          thead
            tr
              th Rank
              th Clan?
              th Name
              th Exp
              th Trophies
              th clan
          tbody
            each d, i in topPlayersData
              tr
                td #{d.rank}
                td 
                  img(src="#{d.clan.badgeUrls.small}" class="clan-badge" alt="Clan badge")
                td
                  a(href="./member?usertag=" + d.tag.replace('#', '%23')) #{d.name}
                td #{d.expLevel} 
                td #{d.trophies}
                //- td 
                //-   a(href="./members?clantag=" + d.clan.tag.replace('#', '%23')) #{d.clan.name}
                  //- img(src="#{d.clan.badgeUrls.small}")
                td
                  a(href="./members?clantag=#{d.tag.replace('#', '%23')}" class="clan-name") #{d.clan.name}
        if (showJSON == "t")
          code #{JSON.stringify(topPlayersData)}