extends layout

block content

  div(id="member-container")
    table(id="member-table")
      thead
        tr
          th 
          th 
          th Tag
          th Name
          th Level
          th Points
      tbody
        each d, i in topranksData
          tr
            td #{i + 1}
            td 
              img(src="#{d.badgeUrls.small}" class="clan-badge" alt="Clan badge")
            td 
              a(href="./members?clantag=#{d.tag.replace('#', '%23')}" class="tag") #{d.tag}
            td 
              a(href="./members?clantag=#{d.tag.replace('#', '%23')}" class="clan-name") #{d.name}
            td #{d.clanLevel}
            td #{d.clanPoints}
